@font-face {
  font-family: "LBSLato";
  src: url("https://s3.lunchboxsessions.com/fonts/lato/lato-regular.woff2") format("woff2"),url("https://s3.lunchboxsessions.com/fonts/lato/lato-regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: fallback;
}
@font-face {
  font-family: "LBSLato";
  src: url("https://s3.lunchboxsessions.com/fonts/lato/lato-bold.woff2") format("woff2"),url("https://s3.lunchboxsessions.com/fonts/lato/lato-bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: fallback;
}
@font-face {
  font-family: "LBSLato";
  src: url("https://s3.lunchboxsessions.com/fonts/lato/lato-black.woff2") format("woff2"),url("https://s3.lunchboxsessions.com/fonts/lato/lato-black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: fallback;
}
